.wrapper {
	width: 1070px;
	margin: 0 auto;
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.flex-center {
	justify-content: center;
	align-content: center;
	align-items: center;
}
.flex-end {
	justify-content: flex-end;
}
.flex-start {
	justify-content: flex-start;
}
.flex-space-b {
	justify-content: space-between;
}
.flex-wrapper {
	flex-wrap: wrap;
}
.no-rounded {
	border-radius: 0px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar > div > div {
	flex: 1;
}

.search-bar .input-group {
	width: 250px;
}
.search-bar .input-group {
	border-radius: 6px;
	border: none;
	background-color: #5c6269;
	color: #ffffff;
}
.search-bar .input-group .fa {
	color: white;
}
.search-bar .input-group-addon {
	background-color: transparent;
	border: none;
}
.search-bar .form-control {
	background-color: transparent;
	border: none;
}
.search-bar .form-control:hover {
	box-shadow: none;
}

aside {
	border-right: 1px solid rgba(11,11,11, 0.1);
}
.sidebar-header {
	min-height: 40px;
	background-color: silver;
}
.sidebar-widgets {
	min-height: 900px;
	background-color: gold;
}
.widget {
	flex: 1;
	background-color: goldenrod;
	border-top: 1px solid black;
}
section {
	background-color: green;
}
.section-header {
	min-height: 40px;
	background-color: yellow;
	padding: 0px 12px;
}
.section-header > div {
	flex: 1;
}
.section-content {
	width: 100%;
}


















@media (min-width: 768px) {
	.no-rounded {
		border-radius: 0px;
	}
}
