<div
    class="film-item flex flex-column"
    ng-click="vm.activate()">

    <div class="skeleton film-item-fade-cover flex flex-center"
         ng-if="vm.filmsState != 'loaded'">

    </div>
    <div
         class="film-item-fade-cover flex flex-start {{vm.state}}"
         style="background-image:url('{{vm.film.poster}}')"
         ng-if="vm.filmsState == 'loaded'">
         <div class="film-item-header flex flex-column flex-center" ng-click="vm.toogleMenuState()" ng-class="{slideInDown: vm.menuState == true}">
            <div class="nav flex flex-end">
                <div ng-if="!vm.menuState" class="open flex flex-center">
                    <button class="btn btn-circle bg-pink white"><i class="fas fa-plus"></i></button>
                </div>
                <div ng-if="vm.menuState" class="open flex flex-center">
                    <button class="btn btn-circle bg-pink white"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div ng-if="vm.menuState"
                class="film-item-menu flex flex-center">
                <button class="btn btn-circle bg-pink white" ng-click="vm.activate()"><i class="fas fa-eye"></i></button>
                <!-- <button class="btn btn-circle bg-pink" ng-click="vm.addTo('watched')"><i class="fas fa-eye"></i></button> -->
                <button class="btn btn-circle bg-pink white" ng-click="vm.addTo('favorites')"><i class="fas fa-heart"></i></button>
                <button class="btn btn-circle bg-pink white" ng-click="vm.addTo('watchLater')"><i class="fas fa-clock"></i></button>
            </div>
        </div>
    </div>
    <div class="film-item-values skeleton"
         ng-if="vm.filmsState != 'loaded'">
    </div>
    <div class="film-item-values flex {{vm.state}}"
         ng-if="vm.filmsState == 'loaded'">
        <div class="value flex flex-center flex-column">
            <label class="title"><i class="far fa-thumbs-up"></i></label>
            <label class="data">{{vm.film.vote_count}}</label>       </div>
        <div class="value flex flex-center flex-column">
            <label class="title"><i class="far fa-star"></i></label>
            <label class="data">{{vm.film.vote_average}}</label>
        </div>
    </div>
    <div class="film-info">
        <h2>{{vm.film.title}}</h2>
    </div>
</div>