<div
    style="background-image:url('{{vm.film.Poster}}')"
    class="film-item flex flex-column">
    <div class="film-item-fade-cover">

    </div>
    <div class="film-item-values flex">
        <div class="value flex flex-center">
            {{vm.film.MetaCritic}}
        </div>
        <div class="value flex flex-center">
            {{vm.film.RottenTomatoes}}
        </div>
        <div class="value flex flex-center">
            {{vm.film.InternetMovieDB}}
        </div>
    </div>
</div>