.films.skeleton {
    margin-bottom: 24px;
}
.films film-preview{
    width: 270px;
    height: 480px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.99,-0.99, 0.01, 1.99);
    /*transform: translateX(200px);*/
    opacity: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
film-preview.show {
    opacity: 1;
    position: absolute;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F0F0F0;
}
film-preview.show .film-item-values {
    display: none;
}
film-preview.show .nav {
    visibility: hidden;
}
film-preview.show .film-info {
    display: initial;
}
film-preview.in {
    transform: translateX(0);
    opacity: 1;
    transform: rotateX(0deg);
}
film-preview:hover {
    box-shadow: 0 4px 14px rgba(0,0,0,0.25), 0 5px 12px rgba(0,0,0,0.08);
    transform: translateY(-5px);
}

.film-item {
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.99,-0.99, 0.01, 1.99);
    background: rgba(11,11,11, 0.1);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.film-item-fade-cover {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
    opacity: 0;
    transition: all 400ms linear;
}

.film-item-fade-cover.on, .film-item-values.on .value {
    opacity: 1;
}
.skeleton.film-item-fade-cover {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: rgba(0,0,0,0.5);
    /*background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);*/
    background-size: 100% 400px;
    position: relative;
}
.film-item-values {
    height: 80px;
    width: 100%;
    padding: 6px;
    background-color: rgba(244,244,244, 0.9);
    transition: all 300ms cubic-bezier(0.99,-0.99, 0.01, 1.99);

}
.film-item-values > .value {
    flex: 1;
    opacity: 0;
    /* SKELETON
    display: none;*/
}
.film-item-values > .value:first-child {
    box-shadow: 2px 0px 0px rgba(0,0,0,0.05);
}
.film-item-values .data {
    font-size: 1.3em;
}
.film-item-header {
    height: 80px;
    width: 100%;
    transition: all 150ms ease-in;
}
.film-item-header .nav {
    height: 80px;
    width: 100%;
}
.film-item-header.slideInDown {
    height: 400px;
    background-color: rgba(244,244,244,0.8);
}
.film-item-header .open {
    height: 80px;
}
.film-item-header .film-item-menu {
    height: 360px;
}

.user-profile-films film-preview{
    width: 135px;
    height: 240px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.99,-0.99, 0.01, 1.99);
    /*transform: translateX(200px);*/
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.user-profile-films .film-item-fade-cover {
    height: 160px;
}
.user-profile-films .film-item-values {
    height: 80px;
}
.user-profile-films .film-item-values .data {
    font-size: 1em;
}
.user-profile-films .film-item-header.slideInDown {
    height: 160px;
}
.user-profile-films .film-item-header .open {
    height: 80px;
}
.user-profile-films .film-item-header .film-item-menu {
    height: 160px;
}
film-preview .film-info {
    display: none;
}

/* PARA BORRAR */
film-preview .nav {
    display: none;
}


@keyframes placeHolderShimmer{
    0%{
        background-position: -270px 0
    }
    100%{
        background-position: 270px 0
    }
}