<nav class="navbar navbar-inverse no-rounded">
    <div class="container-fluid  wrapper flex flex-center">
      <div class="nav-bar-container flex">
          <div class="navbar-header">
              <a class="navbar-brand flex flex-center" href="#">
                  <img alt="Pelis EOI" src="img/logo.png">
              </a>
          </div>
          <ul class="nav navbar-nav">
            <li><a ng-click="homeCtrl.setArrgs('movie-popular')">Populares ahora</a></li>
            <li><a ng-click="homeCtrl.setArrgs('movie-top_rated')">Mejor valoradas</a></li>
            <li><a ng-click="homeCtrl.setArrgs('movie-upcoming')">Próximamente</a></li>
            <li><a ng-click="homeCtrl.setArrgs('discover-movie')">Discover</a></li>
          </ul>
      </div>
      <div class="search-bar flex flex-end">
            <div class="form-contaier flex flex-center">
                <div class="input-group flex flex-center">
                    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input ng-change="homeCtrl.newSearch()" ng-model="homeCtrl.title" type="text" class="form-control white" placeholder="Búsqueda por título" aria-describedby="sizing-addon2">
                </div>
                <div ng-if="homeCtrl.user.email" id="st-trigger-effects">
                    <button data-effect="st-effect-1" ng-click="homeCtrl.showUserProfile(homeCtrl.user.favorites)" class="btn"><i class="fas fa-user"></i></button>
                </div>
                <button ng-click="homeCtrl.logout()"  ng-if="homeCtrl.user.email" class="btn btn-circle bg-soft"><i class="fas fa-sign-out-alt"></i></button>
                <button ng-click="homeCtrl.goLogin()"  ng-if="!homeCtrl.user.email" class="btn btn-circle bg-soft"><i class="fas fa-sign-in-alt"></i></button>
            </div>
      </div>
    </div>
  </nav>
<main class="container-fluid">
    <div class="flex wrapper">
        <aside class="{{homeCtrl.config.arrgs[0]}}">
            <div class="sidebar-header flex flex-center">
                <div class="option option-iconic col col-sm-6 flex flex-center">
                    <i class="fa fa-sliders" aria-hidden="true"></i>
                    <label> Filtrar </label>
                </div>
                <div class="option option-del col col-sm-6 flex flex-center">
                    <label ng-click="homeCtrl.resetFilters()"> Borrar </label>
                </div>
            </div>
            <div class="sidebar-widgets flex flex-column">
                <div class="widget slides">

                        <small>Año</small>
                        <rzslider ng-model="homeCtrl.yearSlider.minValue"
                                  rz-slider-model="homeCtrl.yearSlider.minValue"
                                  rz-slider-high="homeCtrl.yearSlider.maxValue"
                                  rz-slider-options="homeCtrl.yearSlider.options"></rzslider>
                        <small>Valoración TheMovieDB</small>
                        <rzslider rz-slider-model="homeCtrl.imbdSlider.minValue"
                                  rz-slider-high="homeCtrl.imbdSlider.maxValue"
                                  rz-slider-options="homeCtrl.imbdSlider.options"></rzslider>
                </div>
                <div class="widget genre flex flex-center flex-wrapper flex-space-a">
                    <div class="title"><label>Géneros</label></div>
                    <button
                        class="btn bg-soft {{g.state}}"
                        ng-repeat="g in homeCtrl.genres"
                        ng-click="homeCtrl.addSelectedGenres(g)">{{g.name}}</button>
                </div>
            </div>
        </aside>
        <section id="st-container" class="st-container flex {{homeCtrl.config.arrgs[0]}}">
            <div class="films-section flex flex-column st-content">
                <div class="section-header flex flex-center">
                    <div class="res-counter flex flex-center flex-start">
                        <p>
                            <strong>{{homeCtrl.total | number}}</strong>
                            películas encontradas en {{homeCtrl.config.arrgs[0]}}
                        </p>
                    </div>
                    <div class="order-by-container flex flex-end">
                        <select class="flex flex-start" ng-model="homeCtrl.current_sort" ng-change="homeCtrl.sortBy()">
                            <option
                                ng-repeat="sorter in homeCtrl.sorters"
                                value="{{sorter.value}}">{{sorter.display}}</option>
                        </select>
                    </div>
                </div>
                <div class="section-content flex flex-space-a flex-wrapper films">
                    <film-preview
                        ng-if="homeCtrl.films"
                        ng-repeat="film in homeCtrl.films"
                        activatemodal = "homeCtrl.activateModal(film)"
                        film="film"
                        user="homeCtrl.user"
                        films-state="homeCtrl.filmsState"
                        class="{{film.state}}">
                    </film-preview>
                </div>
            </div>
            <nav ng-class="{'st-menu-open': homeCtrl.userProfile}"
                    class="user-profile flex flex-column st-menu st-effect-1"
                    id="menu-1">
                <div class="user-profile-container flex flex-center flex-column">
                    <div class="user-profile-header">
                        <h1>{{homeCtrl.user.email}}</h1>
                    </div>
                    <div class="user-profile-nav flex flex-space-b">
                        <div class="opt flex flex-column flex-center">
                            <h2>Favoritas</h2>
                            <button ng-click="homeCtrl.loadUserMovies(homeCtrl.user.favorites)" class="btn-circle btn bg-pink white">{{homeCtrl.user.favorites.length}}</button>
                        </div>
                        <!--
                        <div class="opt flex flex-column flex-center">
                            <h2>Vistas</h2>
                            <button ng-click="homeCtrl.loadUserMovies(homeCtrl.user.watched)"  class="btn-circle btn bg-pink white">{{homeCtrl.user.watched.length}}</button>
                        </div>
                        -->
                        <div class="opt flex flex-column flex-center">
                            <h2>Para más tarde</h2>
                            <button ng-click="homeCtrl.loadUserMovies(homeCtrl.user.watchLater)"  class="btn-circle btn bg-pink white">{{homeCtrl.user.watchLater.length}}</button>
                        </div>
                    </div>

                    <div class="user-profile-films section-content flex flex-column flex-center">
                        <div class="section-content flex-wrapper  flex-space-a flex">
                            <film-preview
                                ng-if="homeCtrl.films"
                                ng-repeat="film in homeCtrl.user.movies"
                                activatemodal = "homeCtrl.activateModal(film)"
                                film="film"
                                films-state="homeCtrl.filmsState"
                                class="{{film.state}}">
                            </film-preview>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="st-trigger-effects">
                <button data-effect="st-effect-1" ng-click="homeCtrl.showUserProfile(homeCtrl.user.favorites)" class="btn btn-circle btn-profile bg-green purple"><i class="fas fa-user"></i></button>
            </div>
        </section>
        <div ng-class="{active: homeCtrl.modal=='active'}" class="film-modal flex flex-end">
            <button class="btn btn-circle btn-close-modal bg-pink white" ng-click="homeCtrl.modal='inactive'"><i class="fas fa-times"></i></button>
            <div class="film-profile-container">
                <film-profile
                    ng-if="homeCtrl.modal=='active'"
                    film="homeCtrl.currentFilm">
                </film-profile>
            </div>
        </div>
    </div>
</main>