<nav class="navbar navbar-inverse no-rounded">
    <div class="container-fluid  wrapper flex flex-center">
      <div class="nav-bar-container flex">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">
                  <img alt="Pelis EOI" src="...">
              </a>
          </div>
          <ul class="nav navbar-nav">
              <li><a ng-click="homeCtrl.filmsPopular()">Popular</a></li>
              <li><a ng-click="homeCtrl.filmsTopRated()">Top Rated</a></li>
          </ul>
      </div>
      <div class="search-bar flex flex-end">
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
          </div>
      </div>
    </div>
  </nav>
<main class="container-fluid wrapper">
    <div class="flex wrapper">
        <aside>
            <div class="sidebar-header flex flex-center">
                <div class="option option-iconic col col-sm-6 flex flex-center">
                    <i class="fa fa-sliders" aria-hidden="true"></i>
                    <label> Filtrar </label>
                </div>
                <div class="option option-del col col-sm-6 flex flex-center">
                    <label> Borrar </label>
                </div>
            </div>
            <div class="sidebar-widgets flex flex-column">
                <div class="widget slides">
                        <small>Año</small>
                        <rzslider rz-slider-model="homeCtrl.yearSlider.minValue"
                                  rz-slider-high="homeCtrl.yearSlider.maxValue"
                                  rz-slider-options="homeCtrl.yearSlider.options"></rzslider>
                        <small>Valoración IMDB</small>
                        <rzslider rz-slider-model="homeCtrl.imbdSlider.minValue"
                                  rz-slider-high="homeCtrl.imbdSlider.maxValue"
                                  rz-slider-options="homeCtrl.imbdSlider.options"></rzslider>
                        <small>Valoración Rotten Tomatoes</small>
                        <rzslider rz-slider-model="homeCtrl.rottenSlider.minValue"
                                  rz-slider-high="homeCtrl.rottenSlider.maxValue"
                                  rz-slider-options="homeCtrl.rottenSlider.options"></rzslider>
                </div>
                <div class="widget genre flex flex-center flex-wrapper flex-space-b">
                    <div class="title"><label>Géneros</label></div>
                    <small ng-repeat="g in homeCtrl.genres">{{g.name}}</small>
                </div>
            </div>
        </aside>
        <section>
            <div class="section-header flex flex-center">
                <div class="res-counter flex flex-start">
                    <p>
                        <strong>{{homeCtrl.total | number}}</strong>
                        películas encontradas
                    </p>
                </div>
                <div class="order-by-container flex flex-end">
                    Ordenar ^
                </div>
            </div>
            <div class="section-content flex flex-space-a flex-wrapper films">
                <film-preview
                    ng-repeat="film in homeCtrl.films"
                    activatemodal = "homeCtrl.activateModal(film)"
                    film="film">
                </film-preview>
            </div>
        </section>
        <div ng-class="{active: homeCtrl.modal=='active'}" class="film-modal flex flex-end">
            <button class="btn btn-close-modal" ng-click="homeCtrl.modal='inactive'">cerrar</button>
            <div class="film-profile-container">
                <film-profile
                    ng-if="homeCtrl.modal=='active'"
                    film="homeCtrl.currentFilm">
                </film-profile>
            </div>

        </div>
    </div>
</main>