<div
    class="film-profile">
        <div class="film-profile-header flex flex-center flex-start">
            <div class="title-group flex">
                <h2>{{vm.film.title}}</h2>
                <span class="date flex flex-end">{{vm.film.year}}</span>
            </div>
        </div>

        <div class="film-profile-content flex flex-center pb-15">

            <div class="poster-container flex flex-center">
                <img src="{{vm.film.poster}}" alt="vm.film.title">
            </div>

            <div class="main-container flex flex-column pb-15">

                <div class="info-container pb-15">

                    <div class="info-header flex pb-15">
                        <div class="title flex flex-start">
                            <h3>Sinopsis</h3>
                        </div>
                        <div class="duration flex flex-end">
                            {{vm.runtimeCalc(vm.film.runtime)}}
                        </div>
                    </div>

                    <div class="details flex flex-center pb-15">

                        <div class="categories flex flex-start">
                            <small ng-repeat="genre in vm.film.genres">{{genre.name}}</small>
                        </div>

                        <div class="ratings flex flex-end">
                            <div class="rating" ng-repeat="rating in vm.film.ratings">
                                {{rating.Source}} : {{rating.Value}}
                            </div>
                        </div>

                    </div>

                    <div class="overview pb-15">
                        <p>{{vm.film.overview}}</p>
                    </div>
                </div>
                <div class="trailer-container flex flex-column">
                    <div class="title pb-15">
                        <h3>Trailer</h3>
                    </div>
                    <div class="trailer flex flex-center">
                            <iframe width="100%" height="260px" src="{{vm.trustInUrl(vm.film.trailer)}}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
        <div class="film-profile-footer flex flex-column flex-center flex-space-b pb-15">
            <div class="title pb-15">
                <h3>Películas similares</h3>
            </div>
            <div class="films-container flex">
                <div ng-repeat="movie in vm.similarFilms" class="similar-films-container flex flex-column flex-center">
                    <img src="{{movie.poster}}" alt="">
                    <p>{{movie.title}}</p>
                </div>
            </div>
        </div>
</div>